* {
    font-family: arial, sans-serif;
    color:#ffffff;
}

body {
    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    margin: 0;

    background-color: #f2f2f2;

}

/*  
    Placement du sliders

*/

section {
    margin: auto;
    
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    text-decoration: none;
}

.eb__nico {
    width: 800px;
    height: 350px;

    overflow: hidden;
}

.eb__nico_sliders{
    margin: 0;
    padding: 0;
}

    .eb__nico_sliders li#sliders{
        z-index: 1;
        width: 100%;
        float: left;
        margin-right: -100%;
        position: relative;
        opacity: 0;
        transition: all 1s ease-in-out;    
    }

        .eb__nico_sliders li.active{
            z-index: 2!important;    
            opacity: 1!important;
        }

    .eb__nico_content{
        position: absolute;
        
        width: 80%;
        margin: 0;    
        padding: 1em 6em;   
  
    }

    li#sliders img{
        width: 100%;
        height: auto;         
    }

/*  
    Création de la notation 
*/

#stars{
    color: white;
    padding:15px 30px;
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 20%;
}
.stars-0:after {
    content:"\2606\2606\2606\2606\2606";
}
.stars-1:after {
    content:"\2605\2606\2606\2606\2606";
}
.stars-2:after {
    content:"\2605\2605\2606\2606\2606";
}
.stars-3:after {
    content:"\2605\2605\2605\2606\2606";
}
.stars-4:after {
    content:"\2605\2605\2605\2605\2606";
}
.stars-5:after {
    content:"\2605\2605\2605\2605\2605";
}
.stars-6:after {
    content:"\2605\2605\2605\2605\2605";
}
.arrowright{
    position:absolute;
}
.arrowright a{
    position: relative;
}

/*  
    Création de la navigation
*/

ul.arrow{
    z-index: 3;
    position: relative;
    width: 40px;
    height: 100%;
    margin: 0;
    padding: 0 10px 0 10px;
    cursor: pointer;
    background-color: rgba(0,0,0, 0.4)
}

    ul.arrow.left{
        float: left;
    }

    ul.arrow.right{
        float: right;
        transform: rotate(180deg);
    }

        ul.arrow li {
            position: relative;
            top: 45%;
        }

/*  
    Création du bullet point
*/   


.eb__bullets_all{
    margin: auto;
    width: 37%;
    padding: 0;
    margin-top: 10px;

}

    li.eb__bullets{
        display: inline-block;
        margin: 0.15em;
        
        width: 10px;
        height: 10px;       
        border-radius: 50%;

        background-color: #000000;        
        opacity: 0.7;

        transition: all 0.2s ease-in-out;  
    }

    li.eb__bullets.active, li.eb__bullets:hover{       
        opacity: 1;
        transform: scale(1.2);
        cursor: pointer;   
    }
    
